//users page
.activity-nav {
    display: flex;
    margin: 1rem;
}

.activity-button {
    margin-left: auto;
    font-weight: bold;
}

.activity-input {
    margin: auto;
}

.activity-input-format {
    display: inline-block;
    width: 45%;
    margin: 1rem;
}

.activity-input-format-users {
    display: inline-block;
    width: 92%;
    margin: 1rem;
}
