//card page
.cards-button {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-size: 1rem;
}

.text-line {
  overflow-y: auto;
  overflow-x: hidden;
  height: 28vh;
  white-space: pre-line;
}

.card-warning {
    background-color: theme-color('warning');
    font-weight: bolder;
}

.card-input {
    display: flex;
}

.card-input-format {
    width: 45%;
    margin: -1rem 0.5rem 0.5rem 0.5rem;
}

.card-header-banner-color {
    display: inline-block;
    width: auto;
    height: 1rem;
}

.card-generate-button {
    display: flex;
    margin-right: 1rem;
    justify-content: flex-end;
}

.card-input-generate {
    display: flex;
    margin-right: 1rem;
    justify-content: flex-end;
}

.card-input-generate-link {
    width: 40%;
}

.device-rotation {
    background-image: url("/assets/images/rotatedevice.gif");
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and ( max-width: 1000px) {
  .text-line {
    overflow-y: auto;
    overflow-x: hidden;
    height: 25vh;
    white-space: pre-line;
  }
}

@media screen and ( max-width: 768px) {
  .text-line {
    overflow-y: auto;
    overflow-x: hidden;
    height: 20vh;
    white-space: pre-line;
  }
}

