.country-input {
    display: flex;
}

.country-trash {
    align-self: center;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.country-input-format {
    display: inline-block;
    width: 45%;
    margin: 1rem;
}