// Here you can add other styles
.border {
    border: 0;
}

.maintenance-title {
   text-align: center;
}

//center the image in the build page
.center {
  width: 100vw;
  height: 70vh;
}

.center-maintenance {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
    text-align: center;
}

button {
    text-transform: uppercase;
    margin: 0 1rem;
}

.title {
    margin: 1rem 2rem;
}

//card page
.profile-button {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-size: 1rem;
}

//images of the user
.profile-page-image {
    border-radius: 50%;
    width: 10rem;
    margin-left: 2rem;
}

.header-nav-dropdown-menu-picture {
    border-radius: 50%;
    max-width: 2.25rem;
    margin-right: 2rem;
}

.generic-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-type-text-line {
    border: 0.1rem solid black;
    border-radius: 10px;
    margin: 0 1rem;
    padding: 1rem 0;
    padding-left: 1rem;
    white-space: pre-line;
}