// Here you can add other styles
.border {
    border: 0;
}

.maintenance-title {
   text-align: center;
}

//center the image in the build page
.center {
  width: 100vw;
  height: 70vh;
}

.text-center {
    text-align: center;
}

button {
    text-transform: uppercase;
    margin: 0 1rem;
}

.title {
    margin: 1rem 2rem;
}

//card page
.profile-button {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-size: 1rem;
}

