// Variable overrides
$active: #3d5d89;
$show: #365581;
$borderColor: #2f4246;
$boderColorHover: #b3b3b3;
$errorMessageColor: #FF0000;
$lineColor: #FFFFFF;

$theme-colors: (
  'primary': $active,
  'danger': #FF0000,
); 
