// Variable overrides
$active: #3d5d89;
$show: #365581;
$borderColor: #2f4246;
$borderColorHover: #b3b3b3;
$errorMessageColor: #ff0000;
$lineColor: #ffffff;

$theme-colors: (
  "primary": $active,
  "danger": $errorMessageColor,
);

